<div class='col-md-12'>
  <h2>Edit {{title}}</h2>
    <label for='title'>Title</label>
    {{input valueBinding='title' class='form-control'}}
    <label for='description'>Description</label>
    {{textarea valueBinding='description' class='form-control'}}
    <label for='image'>Image URL</label>
    {{input valueBinding='image' class='form-control'}}
    <label for='year'>Year</label>
    {{input valueBinding='year' class='form-control'}}
    <label for='console'>Console</label>
    {{input valueBinding='console' class='form-control'}}
    <label for='company'>Company</label>
    {{input valueBinding='company' class='form-control'}}
    <br>
    <button {{action 'updateGame'}} class='btn btn-default'>Save</button>
</div>