<div class='row'>
  <div class='col-sm-4'>
    <img {{bind-attr src='image' class='img-responsive'}}/>
  </div>
  <div class='col-sm-8'>
    <div class='row'>
      <h4>{{title}} ({{year}})</h4>
      <p class='text-muted'>By {{company}}</p>
      <div>
        <p>{{description}}</p>
        <p>Console: {{console}}</p>
        {{#if inProgress }}
        <p> Status: In Progress </p>
        <p><button {{action markComplete}} class='btn btn-default'>Complete</button>
        </p>
        {{else}}
        <p> Status: Complete! </p>
        {{/if}}
        <button {{action deleteGame}} class='btn btn-default'>Delete</button>
        {{#link-to 'game.edit' class='btn btn-default'}}Edit{{/link-to}}
      </div>
    </div>
    <div class='row'>
      {{outlet}}
    </div>
  </div>
</div>