<h3>Welcome to Game Bucket, your personal video game library!</h3>
<h4>Here are a few games you are currently playing: </h4>
<ul class = 'list-unstyled'>
{{#each incomplete}}
  <li class = 'row'>
    <div class='col-sm-4'>
      <img {{bind-attr src='image'}}/>
    </div>
    <div class='col-sm-8'>
      <h4>{{title}} ({{year}})</h4>
      <p class='text-muted'>By {{company}}</p>
      <div>
        <p>{{description}}</p>
        {{#if inProgress }}
        <p> Status: In Progress </p>
        {{else}}
        <p> Status: Complete! </p>
        {{/if}}
      </div>
    </div>
  </li>
{{/each}}
</ul>
<div>{{#link-to 'games.all' class='btn btn-default' tagName='button'}}Browse Games{{/link-to}} or {{#link-to 'games.new' tagName='button' class='btn btn-default'}}Add a Game{{/link-to}}
</div>